/* this is a simple css file */

body {
  font-family: sans-serif, arial;
  margin: 0;
  padding: 0;
  color: #000;
}
h1 {
  color: #666;
  font-size: 20px;
  text-align: center;
}
p {
  color: #333;
  font-size: 16px;
  text-align: center;
}

.box {
  width: 60%;
  height: 100%;
  min-height: 500px;
  border: 8px solid #5c8ed1;
  margin: 0 auto;
  padding: 40px;
  background: #000;
}

.content h1 {
  font-size: 24px;
  color: #f4f4f7;
}

.content p {
  font-size: 18px;
  color: #f4f4f7;
}